@import './styles/_variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  background-color: #F8FAFC;
  overflow-x: hidden;
}

body.dark-mode {
  background-color: $primary-dark-color;
  color: $text-dark-color;
}

