
//light mode colors
$primary-color: #DDEAF1;
$secondary-color: #F3F6F8;
$accent-color: #B8D4E3;
$text-color: #4A4A4A;

$white-color: #F1F5F9;        // Softer white, slightly bluish (good for backgrounds)
$light-blue-color: #A3C8F4;   // Deeper version of light blue
$gray-blue-color: #7FA4C2;    // More contrast, still soft for text or borders
$gray-color: #5A6B7F;  

$heading-color: $text-color;

$main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$border-radius: 5px;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);