@import './variables';
@import './mixins';

.cta {
    background-color: $white-color;
    padding: 100px 0;
    text-align: center;
    color: $text-color;

    h2 {
        font-size: 2.8rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    button {
        @include button-style;
        background-color: $accent-color;
        color: $text-color;
        font-size: 1.1rem;

        &:hover {
            background-color: darken($accent-color, 10%);
        }
    }
}

body.dark-mode .cta {
    background-color: $primary-dark-color;
    color: $text-dark-color;
}