@import './variables';

.features {
  padding: 80px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 60px;
  }

  .features-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .feature-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    text-align: left;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .feature-image {
      flex: 1;

      img {
        width: 100%;
        max-width: 500px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
      }
    }

    .feature-text {
      flex: 1;

      h3 {
        font-size: 2rem;
        margin-bottom: 15px;
        color: $text-color;
      }

      p {
        line-height: 1.6;
        font-size: 1.1rem;
      }
    }
  }

  // Responsive
  @media (max-width: 768px) {
    .feature-item {
      flex-direction: column !important;
      text-align: center;

      .feature-text {
        text-align: center;
      }
    }
  }
}

body.dark-mode .features {

  h2 {
    color: $text-dark-color;
  }

  .features-list {
    .feature-item {
      .feature-text {
        p {
          color: $text-dark-color;
        }
      }
    }
  }

}