@import './variables';

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999999;
    min-width: 1200px;
    width: 100%;

    a {
        text-decoration: none;
        color: $text-color;
    }
    
    h1 {
        padding: 5px 10px;
    }

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 5px 10px;

        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 1.2rem;
            color: $text-color;

            a {
                text-decoration: none;
                color: $text-color;
            }
        }
    }
}

body.dark-mode nav {
    h1 {
        color: $text-dark-color;
    }

    ul {
        li {
            color: $text-dark-color;
            a {
                color: $text-dark-color;
            }
        }
    }
}